body{
  /* background-color: black;
  color: white; */
  padding: 0 1em;
}
main {
  margin-top: 10%;
  font-size: 1.3em;
}
.rl_cnt {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
}
h4 {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  width: 70%;
}
a:hover{
  color: gray;
  box-sizing: content-box;
}
