body{
  background-color: black;
  color: white;
  padding: 0 1em;
}
main {
  margin-top: 10%;
}
.rl_cnt {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
}
h4 {
  margin: 0;
}
a {
  color: white;
  width: 70%;
}
a:hover{
  color: gray;
  box-sizing: content-box;
}
