h1 {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6em;
    line-height: 1.4em;}

h2 {
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-style: normal, italic;
    font-size: 1.9em;
    margin-top: 0px;
    margin-bottom: 0px;}
h4{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3em;}
h5{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0px;}

p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.1em;}

.container-fluid {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding: 0px;}

.row {
    margin: 0px;}
.single-item{
    padding: 0px;}

.icon{
    margin-right: 10px;}

.col-md-8{
    padding-left: 0px;}

.description{
    max-height: 455px;}

.spacer {
    margin-top: 31%;}

.img-responsive {
    margin-bottom: 20px;}